*.o
*.pc
*.exe
*.dll
.cache/
.deps/
.libs/
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
libklvanc.la
src/libklvanc_la-*.lo
doxygen/html
compile_commands.json
